/*-- scss:defaults --*/




/*-- scss:rules --*/

.value-box-value .observablehq {
  font-size: 1.2rem;
}


.value-box-area {
  text-align: center;
}

.quarto-dashboard .bslib-value-box .value-box-title {
    font-size: clamp(.1em, 8cqw, 5em) !important;
}

.quarto-dashboard .bslib-value-box .value-box-area {
    font-size: clamp(.1em, 8cqw, 5em) !important;
}

.quarto-dashboard .bslib-value-box .value-box-value {
    font-size: clamp(.1em, 8cqw, 5em);
}



